/* banner */
.banner{
    position: relative;
    width: 100%;
}
.banner .nav{
    position: absolute;
    top: 4%;
    left: 0;
    width: 100%;
    z-index: 1; 
}
.aa{
    width: 100%;
}
.aa img{
    width: 100%;
}
.nav h1{
    width:15.05%;
    margin-left: 2.25%;
}
.nav h1 img{
    width: 100%;
    height: 100%;
}
.nav ul{
    width: 51%;
    line-height: 40px;
    margin-left: 9.2%;
}
.nav_c li{
    float: left;
    height: 2.23%;
    margin-right: 5.86%;
    position: relative;
    transform-style: preserve-3d;
    perspective: 500px;
}
body .nav_c .act:after{
    visibility: visible;
}
body .nav_c .act:before{
    visibility: visible;
}
body .nav_c .act a{
    color: #DF2735;
}
.nav_c li:after{
    content: '';
    width: 100%;
    height: 2px;
    background: #FFF100;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    transition: .25s;
    transform: rotateX(180deg);  
}
.nav_c li:before{
    content: '';
    width: 100%;
    height: 2px;
    background: #FFF100;
    position: absolute;
    left: 0;
    top:100%;
    visibility: hidden;
    transition: .25s;
}
.nav_c li:hover a{
    color: #DF2735;
}
.nav_c li:hover:after{
    visibility: visible;
	top: 100%;
}
.nav_c li:hover:before{
    visibility: visible;
	top: 0;	
}
.nav_c li:last-child{
    margin-right: 0;
}
.nav_c li a{
    font-size: 93%;
    color: #F2F0F0;
    transition: .35s;
}
.nav_r{
    width: 22px;
    height: 22px;
    z-index: 100;
    margin-top: 10px;
    margin-right: 2.86%;
    background: url(../img/ser.png) no-repeat center center;
}