body{
	background: url(../img/美荷涂料404.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.pic{
    border: 1px #00ADEF solid;
    height: 58px;
    width: 208px;
    color: black;
    border-radius: 30px;
    font-size: 23px;
    display: block;
    text-align: center;
    line-height: 58px;
    margin-top: 500px;
    
    text-decoration: none;
    }
.nihao{
	margin-left: 440px;
    float: left;
}

.nh{
	float: right;
    margin-right: 400px;
}

a:active{
	color:white;
	background-color: #00ADEF;
}
